.css-1tktgsa-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
    left: 20px !important;
    top: auto !important;
    bottom: 70px !important;
}
.css-12oazvf-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
    left: 250px !important;
    top: auto !important;
    bottom: 140px !important;
}
